*{
	margin: 0;
	border: 0;	
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
dl,ol,ul{
	padding: 0;
	margin: 0;
}
header{
	background-color: #ffd8ff;
}
ul li a{
	color: #000;
}

/*nav bar start*/
nav{
	padding: 10px 30px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
}
nav ul{
	display: flex;
	gap: 30px;
	overflow: hidden;
}
nav ul li{
	list-style-type: none;
}
nav ul li a{
	text-decoration: none;
}
#icon-toggle{
	display: none;
}
.icon-toggle{
	display: none;
}
@media (max-width: 600px){
	nav ul{
		position: absolute;
		top:70px;
		left: 0;
		right: 0;
		flex-direction: column;
		text-align: center;
		gap: 0;
		transition: 0.5s;
	}
	nav ul li{
		padding: 15px;
	}
	#icon-toggle{
		display: block;
	}
	.icon-toggle{
		display: block;
	}
}

/*nav bar end*/
